.principal{
     color: white;
     font-family: Arial, sans-serif;
     background-color: #110101;
     margin: 50px;
     padding: 20px;
     width: 300px;
     border-radius: 15px;
     box-shadow: 10px 10px 10px #ccc;
}