.principal_box{
     background-color: #1f2937;
     margin: 50px;
     padding: 20px;
     width: 300px;
     color: white;
     margin: 40px auto;
     border-radius: 15px;
     font-family: Arial, sans-serif;
     box-shadow: 10px 10px 10px #ccc;
     justify-content: center;
}

button{
     background-color: #3b82f6;
     color: white;
     border: none;
     text-align: center;
     border-radius: 10px;
     padding: 10px 20px;
     display: block;
     margin: 0 auto;
     cursor: pointer;
     transition: 0.3s;
}

button:hover{
     background-color: #ccc;
     transform: scale(1.05);
     color: #3b82f6
}


.principal{
     text-align: center;
     color: white;
     font-family: Arial, sans-serif;
     background-color: #110101;
     padding: 20px;
}
