.principal_box{
     background-color: #1f2937;
     margin: 50px;
     padding: 20px;
     width: 300px;
     color: white;
     margin: 40px auto;
     border-radius: 15px;
     font-family: Arial, sans-serif;
     box-shadow: 10px 10px 10px #ccc;
     justify-content: center;
}

.principal{
     text-align: center;
     color: white;
     font-family: Arial, sans-serif;
     background-color: #110101;
     padding: 20px;
}

table {
     width: 100%;
     border-collapse: collapse;
}

th, td {
     border: 1px solid #ccc;
     padding: 8px;
     text-align: center;
}

th {
     background-color: #3b82f6;
}
