.principal{
     text-align: center;
     color: white;
     font-family: Arial, sans-serif;
     background-color: #110101;
     padding: 20px;
}

.fruta_li{
     font-size: 20px;
     color: #fefefe;
     margin: 10px;
}

.entrada {
     padding: 6px;
     margin-right: 8px;
}

.boton_agregar {
     padding: 6px 8px;
}


.principal_box{
     background-color: #1f2937;
     margin: 50px;
     padding: 20px;
     width: 400px;
     height: auto;
     color: rgb(240, 240, 240);
     margin: 40px auto;
     border-radius: 15px;
     font-family: Arial, sans-serif;
     box-shadow: 10px 10px 10px #ccc;
     justify-content: center;
}
